// COLORS
$color-green: #39F528;
$color-bleu:#5E9DFB;
$color-bleu-dark: #739AFF;
$color-bleu-text:#00BCD4;
$color-grey: #F2F5F6;
$color-grey-dark: #D9D9D9;
$color-grey-black: #949494;
$color-black: #000000;
$color-black-one: #0b0b0b;
$color-white: #fff;


$color-bleu-slide1: #A1BADF;
$color-bleu-slide2: #A2BBE0;
$color-yellow: #ECE310;

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-medium-small: 700px;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px