<!DOCTYPE html>
<html lang="en">
	<%- include('head.ejs'); %>
	<body>
		<header style="background-image: url('images/background-ateliers-et-presentiels.jpeg')">
			<%- include('../molecules/header-top.ejs', {current_item: -1}); %>
			<div class="header-main">
				<div class="ateliers-et-presentiels">
					<p class="title">Atelier et presentiel</p>
					
				</div>
			</div>
		</header>

		<%- include('../molecules/footer.ejs'); %>
	</body>
</html>
