<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in || Sign up from E-haronga</title>
     <!-- font awesome icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- css stylesheet -->
    <link rel="stylesheet" href="css/sigin.css">
</head>
<body>

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/inscription">
                <h1>Créer un compte</h1>
                <span>Ou utilisez votre email pour vous inscrire</span>
                <div class="infield">
                    <input type="text" placeholder="Nom" />
                    <label></label>
                </div>
                <div class="infield">
                    <input type="email" placeholder="E-mail" name="email"/>
                    <label></label>
                </div>
                <div class="infield">
                    <input type="password" placeholder="Mots de passe" />
                    <label></label>
                </div>
                <button>S'incrire</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="login-register">
                <div class="email mb-3">
                <h1>Vos cours vous attendent</h1>
                <span>Utilisez votre compte</span>
                <div class="infield">
                    <input type="email" placeholder="E-mail" name="email" required="required"/>
                    <label></label>
                </div>
                <div class="infield">
                    <input type="password" placeholder="Mots de passe" required="required"/>
                    <label></label>
                </div>
                <a href="#" class="forgot">Mot de passe oublié?</a>
                <button>Se connecter</button>
            </form>
                </div>
        </div>
        <div class="overlay-container" id="overlayCon">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <div class="left-icon">
                        <a href="/"> <img src="images/icons/home.png" alt="home.png"></a>
                        <a href="http://"> <img src="images/icons/back.png" alt="back.png"></a>
                    </div>
                    <h1>E-Harogna !</h1>
                    <br><br><br><br><br><button>&nbsp;&nbsp;&nbsp;&nbsp;Se connecter</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <div class="right-icon">
                        <a href="/"> <img src="images/icons/home.png" alt="home.png"></a>
                        <a href="http://"> <img src="images/icons/back.png" alt="back.png"></a>
                    </div>
                    <i class="login-icon">
                        <img src="images/logo_v2.png" alt="logo_v2.png">
                    </i>
                    <h1>Tongasoa ô !!!</h1>
                    <br><br><br><br><br></h1><button>Creer un compte</button>
                </div>
            </div>
            <button id="overlayBtn"></button>
        </div>
    </div>

   
    
    <!-- js code -->
    <script>
        const container = document.getElementById('container');
        const overlayCon = document.getElementById('overlayCon');
        const overlayBtn = document.getElementById('overlayBtn');

        overlayBtn.addEventListener('click', () => {
            container.classList.toggle('right-panel-active');
        })
    </script>

</body>
</html>
