<div class="setpthree">
    <form method="post" action="/api/register" class="setpthree-form">
        <div class="setpthree-form__head">
           <label for="" class="head--label">Formation , Diplôme</label>
          
           <div class="head--ligne"></div>
           
        </div>
        <div class="inputs">
            <div class="inputs-1">
                <div class="inputs-1__input">
                    <i class="inputs-1__input--icon">
                        <img src="images/icons/i-diplome.png"   alt="i-diplome.png">
                    </i>
                    <input type="text" id="diplome-niveau-etude" name="diplome-niveau-etude" class="form-samll" placeholder="Diplôme / Niveau d’Etude">
                </div>
                <div class="inputs-1__input">
                    <i class="inputs-1__input--icon">
                        <img src="images/icons/i-date.png" alt="i-date.png">
                    </i>
                    <input type="date" id="date" name="date"  class="form-samll" placeholder="Date">
                </div>
                <div class="inputs-1__input">
                    <i class="inputs-1__input--icon">
                        <img src="images/icons/i-school.png" alt="i-school.png">
                    </i>
                    <input type="text" id="etablissement" name="etablissement" class="form-samll" placeholder="Etablissement">
                </div>
            </div>
            <div class="inputs-2">
                <div class="inputs-2__input">  
                    <input type="text" id="filiere" class="form-control" name="filiere" placeholder="Filière">
                </div>
            </div>
            <div class="inputs-1">
                <div class="inputs-1__input">
                    <i class="inputs-1__input--icon">
                        <img src="images/icons/i-book.png"   alt="i-book.png">
                    </i>
                    <input type="text" id="formation1" name="formation1" class="form-samll" placeholder="Formation 1">
                </div>
                <div class="inputs-1__input">
                    <i class="inputs-1__input--icon">
                        <img src="images/icons/i-school.png" alt="i-school.png">
                    </i>
                    <input type="text" id="formation1-etablissement" name="formation1-etablissement" class="form-samll" placeholder="Etablissement 1">
                </div>   
                <div class="inputs-1__input">
                    <i class="inputs-1__input--icon">
                        <img src="images/icons/i-date.png" alt="i-date.png">
                    </i>
                    <input type="date" id="formation1-date" name="formation1-date"  class="form-samll" placeholder="Date">
                </div>
            </div>
            <div class="inputs-1">
                <div class="inputs-1__input">
                    <i class="inputs-1__input--icon">
                        <img src="images/icons/i-book.png"   alt="i-book.png">
                    </i>
                    <input type="text" id="formation2" name="formation2" class="form-samll" placeholder="Formation 2">
                </div>
                <div class="inputs-1__input">
                    <i class="inputs-1__input--icon">
                        <img src="images/icons/i-school.png" alt="i-school.png">
                    </i>
                    <input type="text" id="formation2-etablissement" name="formation2-etablissement" class="form-samll" placeholder="Etablissement 2">
                </div> 
                <div class="inputs-1__input">
                    <i class="inputs-1__input--icon">
                        <img src="images/icons/i-date.png" alt="i-date.png">
                    </i>
                    <input type="date" id="formation2-date" name="formation2-date"  class="form-samll" placeholder="Date">
                </div>  
            </div>
            <div class="inputs-3">
            </div>
           
                     
        </div>
          
    </form>
</div>
