<div class="stepone">
    <form method="post" action="/api/register" class="stepone-form">
        <div class="stepone-form__head">
           <label for="" class="head--label">Etat Civil</label>
          
           <div class="head--ligne"></div>
           
        </div>
        <div class="stepone-form__all">
            <div class="stepone-form__input">
                <i class="stepone-form__input--icon">
                    <img src="images/icons/i-name.png" alt="login-1.png">
                </i>
                <input type="text" id="firstName" name="firstName" placeholder="Nom">
            </div>
            <div class="stepone-form__input">
                <i class="stepone-form__input--icon">
                    <img src="images/icons/i-user.png" alt="i-user.png">
                </i>
                <input type="text" id="lastName" name="lastName" placeholder="Prenom">
            </div>
            <div class="stepone-form__input">
                <i class="stepone-form__input--icon">
                    <img src="images/icons/i-date.png" alt="i-date.png">
                </i>
                <input type="date" id="birthDate" name="birthDate" placeholder="Date">
            </div>
            <div class="stepone-form__input">
                <i class="stepone-form__input--icon">
                    <img src="images/icons/i-mail.png" alt="i-mail.png">
                </i>
                <input type="text" id="email" name="email" placeholder="E-mail">
            </div>
            <div class="stepone-form__input">
                <i class="stepone-form__input--icon">
                    <img src="images/icons/i-tel.png" alt="i-tel.png">
                </i>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Tel">
            </div>
            <div class="stepone-form__input">
                <i class="stepone-form__input--icon">
                    <img src="images/icons/i-home.png" alt="i-home.png">
                </i>
                <input type="text" id="adress" name="adress" placeholder="Adresse">
            </div>
                     
        </div>
          
    </form>
</div>
