<div class="modal-overlay">
    <div class="modal">
        <img src="images/icons/free_icon_1.svg"   alt="free_icon_1.svg">
      <h2>Bravo !</h2>
      <p>
        Votre compte a été crée.
         On vous appelle de suite pour vous donner l’accès.
        Merci !!!</p>
      <div class="modal-buttons">
        
        <a href="/login-register"><button class="confirm-btn">OK</button></a>
      </div>
    </div>
</div>
<script>
    const modalOverlay = document.querySelector('.modal-overlay');
    const modal = document.querySelector('.modal');
    const confirmBtn = document.querySelector('.confirm-btn');
</script>
</form>
