.ateliers-et-presentiels {
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding-bottom: 200px;

	li {
		font-size: 1.5em;
		margin-bottom: 10px;
	}
}

