.tarif-intro {

	display: flex;
	gap: var(--medium-size);
	flex-wrap: wrap;
	justify-content: center;
	text-align: justify;

	width: 90%;

	box-sizing: border-box;
	padding: var(--medium-size);

	img { width: 250px; }

	.description {
		@include vertical_items(var(--medium-size));
		width: 100%;
	}


	@media screen and (min-width: 700px) {
		.description { width: 500px; }
	}
}

