<!-- <div class="e-harogna ">-->
<div class="main-container about-e-harogna">
	<div class="medium-v-spacing centered">
		<div class="e-harogna-title-in-image">
			<img src="images/home-page-e-harogna-title.png" alt="" />
		</div>
		<p class="title">Formations en ligne, Emploi à portée de main</p>
	</div>

	<div class="medium-v-spacing centered">
		<p class="paragraph">Œuvrant pour l’employabilité, l’insertion professionnelle
			et l’optimisation des compétences professionnelle des jeunes, E-Harogna
			propose des formations en ligne et non académiques qui assurent la veille
			des potentiels professionnels de ses abonnés.
		</p>
		<div><a href="/tarifs" class="button-blue">S'inscrire</a></div>
	</div>
</div>
