<div class="card-ced">
    <div class="card-ced__img">
        <img src="<%= imageUrl %>" alt="<%= imageAlt %>" />
    </div>
    <p class="card-ced__bar"></p>
    <p class="card-ced__text"><%= text %></p>
</div>
