<div class="compte-content">
    <div class="compte-content__card">
        <h1 class="compte-content__card--titre">
            Prochaine Master Class :
        </h1>
        <h1 class="compte-content__card--subtitle">
            “Comment trouver du boulot en ligne ?”
        </h1>
        <p class="compte-content__card--text">
            Recouvrant le maximum de matière et de domaine possible, e-Harogna est souple dans le choix d
            e thématique et modules proposé aux membres. Les cours se concentrent non seulement sur la qualité, 
            mais aussi surtout sur les compétences recherchées sur le marché du travail
            Recouvrant le maximum de matière et de domaine possible, e-Harogna est souple dans le choix d
            e thématique et modules proposé aux membres. Les cours se concentrent non seulement sur la qualité, 
            mais aussi surtout sur les compétences recherchées sur le marché du travail
        </p>
        <button class="compte-content__card--btn">Participer gratuitement</button>
    </div>
</div>
