<div class="compte-subtitle">
    <div class="compte-subtitle__img">
        <img src="images/calendrier.png" alt="calendrier.png">
    </div>
    <h1 class="compte-subtitle__text">
        Nos évènements
    </h1>
</div>