<div class="compte-profil">
    <div class="compte-profil__left">
      <img src="images/user-icon.svg" alt="user-icon.svg" class="compte-profil__left--img">
      <div class="compte-profil__left--info">
        <ul class="info-list">
            <li class="info-list__item"></li>
            <li class="info-list__item"></li>
        </ul>
      </div>
    </div>
    <div class="compte-profil__right">
        <div class="compte-profil__right--file">
            <img src="images/folder2.png" alt="folder1.png" class="compte-profil__right--img">
            <p class="right--name">Mes Dossiers</p>
        </div>
        <div class="compte-profil__right--floder">
            <img src="images/folder1.png" alt="folder2.png" class="compte-profil__right--img">
            <p class="right--name">Mes Emplois </p>
        </div>
    </div>
</div>
