<div class="right-section">
    <div class="right-section__head">
        <h1 class="right-section__head--title">
            PREREQUIS:
        </h1>
        <p class="right-section__head--text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate iusto animi sunt aperiam  Cupiditate iusto 
        </p>
    </div>
    <div class="right-section__options">
        <div class="right-section__options--list">
            <div class="section-img">
                <img src="images/cours/fe1.png" alt="fe1.png">
            </div>
            <h2 class="option--title">Auteur</h2>
            <p class="option--text">MR Auteur Parsis</p>
        </div>
        <div class="right-section__options--list">
            <div class="section-img">
                <img src="images/cours/fe2.png" alt="fe2.png">
            </div>
            <h2 class="option--title">Niveau</h2>
            <p class="option--text">Facile</p>
        </div>
        <div class="right-section__options--list">
            <div class="section-img">
                <img src="images/cours/fe3.png" alt="fe3.png">
            </div>
            <h2 class="option--title">Duree</h2>
            <p class="option--text">3 heures</p>
        </div>
    </div>
    <div class="right-section__somaire">
        <h1 class="right-section__somaire--title">
           SOMMAIRE
        </h1>
        <ul class="right-section__somaire--list">
            <h2 class="somaire--titre">PARTIE I : Lesona volaohany</h2>
            <li class="right-section__somaire--item">Chapitre 1 : Lorem ipsum</li>
            <li class="right-section__somaire--item">Chapitre 2 : Lorem ipsum</li>
            <li class="right-section__somaire--item">Chapitre 3 : Lorem ipsum</li>
        </ul>
        <ul class="right-section__somaire--list">
            <h2 class="somaire--titre">PARTIE 2 : Lesona Faharoa</h2>
            <li class="right-section__somaire--item">Chapitre 1 : Lorem ipsum</li>
            <li class="right-section__somaire--item">Chapitre 2 : Lorem ipsum</li>
            <li class="right-section__somaire--item">Chapitre 3 : Lorem ipsum</li>
        </ul>
        <ul class="right-section__somaire--list">
            <h2 class="somaire--titre">PARTIE 3 : Lesona Fahatelo</h2>
            <li class="right-section__somaire--item">Chapitre 1 : Lorem ipsum</li>
            <li class="right-section__somaire--item">Chapitre 2 : Lorem ipsum</li>
            <li class="right-section__somaire--item">Chapitre 3 : Lorem ipsum</li>
        </ul>
    </div>
    <div class="right-section__btn">
        <button class="btn-large">Demander un Présentiel</button>
    </div>

</div>