<div class="home-introduction-formations">
    <div class="home-component">
        <h1 class="home-component__titre">
			Notre Formations, votre caverne de savoir
		</h1>
        <p class="home-component__text">
			Recouvrant le maximum de matière et de domaine possible, 
            e-Harogna est souple dans le choix de thématique et 
			modules proposé aux membres.
            Les cours se concentrent non seulement sur la qualité,
            mais aussi surtout sur les compétences recherchées 
			sur le marché du travail
		</p>
        <button class="home-component__btn-out">
			<a href="/formations" style="color: white; display: block; width: 100%; height: 100%">Nos Cours</a>
		</button>
    </div>
</div>
