<div class="inscription-stage">
	<div class="content large-v-spacing">
		<h1 class="title">Inscription à un stage</h1>

		<form action="#" method="" class="large-v-spacing col-10">
			<div class="medium-v-spacing">
				<input type="text" name="nom" placeholder="Nom et prenom" />
				<input type="text" name="mail" placeholder="Mail"/>
				<input type="text" name="telephone" placeholder="Téléphone"/>
			</div>

			<div class="medium-v-spacing">
				<div class="buttons">
					<input class="col-10 button-blue" 
						type="submit" 
						name="submit" 
						value="S'inscrire"
					/>

					<button class="col-10 button-transparent" onclick="hideInscriptionStage()">
						Annuler
					</button>
				</div>

				<p class="centered-text">e-harogna vous remercie. 
				Notre équipe vous contactera de suite</p>
			</div>
		</form>
	</div>		
</div>
