<div class="item_formation">
	<div class="item_formation__left" style="background-image: url('<%= imageUrl %>')">
    	<a href="/blog" class="btn--green">Commencer le cours</a>
   	</div>
    <div class="item_formation__body">
		<h3 class="text-title"><%= title %></h3>
		<p class="text-content"><%= text %></p>
		<a href="/blog" class="btn--green">Commencer le cours</a>
    </div>
</div>
