<div class="pagination">
    <button class="pagination__btn">
        <img src="images/categories/prev.png" alt="prev.png">
        <span>Precedent</span>
    </button>
    <ul class="pagination__pages">
        <a href="#"><li class="options">1</li></a>
        <a href="#"><li class="options">2</li></a>
        <a href="#"><li class="options">3</li></a>
        <a href="#"><li class="options">4</li></a>
        <a href="#"><li class="options">5</li></a>
        
    </ul>
    <button class="pagination__btn1">
        <span>Suivant</span>
        <img src="images/categories/next.png" alt="next.png">
        
    </button>
</div>
<div class="emptyDivPE">

</div>
<style>
    .emptyDivPE{
        display:block;
        width:100%;
        height:100px;
        background-color: brown;
    }
</style>
