<div class="service medium-v-spacing centered">
	<div class="small-v-spacing centered">
		<div class="service-illustration-container">
			<img src="<%= illustration %>" alt=""/>
		</div>
		<p class="title"><%= title %></p>
	</div>
	<div>
		<a href="<%= link %>" class="button-transparent">Voir</a>
	</div>
</div>
