<div class="circle-container">
    <div class="bar-left"></div>
    <div class="circle">
        <img src="<%= imageUrl %>" alt="<%= imageAlt %>" />
    </div>
    <div class="bar-right"></div>
</div>
  
