<ul class="tabs">
	<li><a href="#" <% if (current_tab == 1) {%> class="current" <%}%> >Mes jobs</a></li>
	<li><a href="#" <% if (current_tab == 2) {%> class="current" <%}%> >Offre disponibles</a></li>
	<li><a href="#" <% if (current_tab == 3) {%> class="current" <%}%> >Mon dossier</a></li>
</ul>
