<div class="tarif-intro">
	<img src="images/tarif-wax-1.png" alt=""/>	
	<div class="description">
		<h1>LE TARIF QUI PARLE AUX JEUNES</h1>
		<p>Abonnez vous à la plateforme  pour  pouvoir bénéficier intégralement 
			des formations  comprenant des cours et des tutoriels en accès libre 
			sur notre site. Avec un tarif le plus concurrentiel du marché,  
			E-harogna propose des solutions qui prends soin de votre portefeuille
		</p>
	</div>
</div>
