.button-title {
    box-sizing: border-box;
    padding: 20px;
    width: 20rem;
    background: linear-gradient(to left, #739AFF, #42ECEC);
    border-radius: 20px;
    color: white;
    text-align: center;
    text-transform:uppercase;
    
}

.background-body{
    background-image: linear-gradient(
        to right bottom,
        rgba($color-white, 0.2),
        rgba($color-grey, 0.2)),
    url(../../images/Background-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.formation__top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -2.5rem;
    
    
    
}

.main-formation{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    &__intro{
        display: flex;
        align-self: center;
        width: 70%;
        @media only screen and (max-width: $bp-large) {
            margin-bottom: 2rem;
        }


    }

    &__search{
        width: 85%;
        margin-top: -5rem ;
        @media only screen and (max-width: $bp-medium) {
            margin-top: 2rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-bottom: -4rem;
        }
    }

    &__list{
        margin-top: 4rem;
        display: flex;
		width: 95vw;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item{
        margin: 2rem;
    }
}


